@@FORMAT@@ @@PLATFORM@@ @@PACKAGE_TYPE@@ @@PACKAGE_NAME@@ {
@@FILESET_NAME@@ @@LEVEL@@ @@DISKETTE_VOLUME@@ @@BOSBOOT@@ @@CONTENT@@ @@LANGUAGE@@ @@DESCRIPTION@@ # @@COMMENT@@
[
@@REQUISITE_INFO@@
%
@@SIZE_INFO@@
%
@@SUPERSEDE_INFO@@
%
@@IFORLS_VENDORID@@
@@IFORLS_PRODUCTID@@
@@IFORLS_VERSION@@
%
@@FIX_INFO@@
]
}
