NOTES:  this sample configuration file is for logical group 000, primary (p000.cfg)
#
# Primary System Definition:
#
SYSTEM-TAG:          SYSTEM-A                  PRIMARY        
  HOST:              india 
#
# Secondary System Definition:
#
SYSTEM-TAG:          SYSTEM-B                  SECONDARY      
  HOST:              china 
  JOURNAL:           /var/tmp/journal
#
# Device Definitions:
#
PROFILE:            1
  REMARK:           This device corresponds to /usr/local/test/database 
  PRIMARY:          SYSTEM-A
  TDMF-DEVICE:      /dev/dtc/lg0/rdsk/dtc0
  DATA-DISK:          /dev/rdsk/c0t0d0s1
  SECONDARY:        SYSTEM-B
  MIRROR-DISK:        /dev/rdsk/c0t0d0s0
# -- End of dtc Configuration File:  p000.cfg

